.ranking-bg {
  margin-top: 96px;
  background: url("/Background-imgs/table-bg.png");
  background-size: cover;
  background-position: center center;
}

.ranking-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  margin-bottom: 64px;
}

.ranking-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.ranking-header,
.ranking-player {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 102px repeat(5, 1fr);
  align-items: center;
  background: linear-gradient(
    170deg,
    rgba(0, 0, 0, 0.7),
    rgba(51, 51, 51, 0.7)
  );
  padding: 12px 24px 12px 12px;
  border-radius: 12px;
  border: 1px solid #646464;
}

.ranking-header h1 {
  display: flex;
  gap: 4px;
  align-items: center;
}

.ranking-header h1:first-child {
  margin-left: 15px;
}

.ranking-header h1:not(.exception),
.ranking-player h3:not(.exception) {
  justify-self: center;
}

.ranking-badge {
  margin-left: 15px;
  filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.5));
}

.ranking-badge-third {
  margin-left: 22px;
  filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.5));
}

.ranking-player {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ranking-player h1 {
  margin-left: 30px;
}

.player {
  display: flex;
  gap: 12px;
  align-items: center;
}

.player img {
  border-radius: 50%;
}
