/* Reset dos estilos */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "DM Sans", Arial, sans-serif;
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}

a {
  display: flex;
  color: inherit;
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.raio {
  position: absolute;
  z-index: -100;
  top: -360px;
  left: 420px;
}

.raio-features {
  position: absolute;
  z-index: -99;
  width: 2032px;
}

/* Header */

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  height: 2px;
  width: 0px;
  background: linear-gradient(280deg, #6600d4, #4221e3, #005fff);
  position: absolute;
  top: 40px;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

.discord-img {
  display: flex;
  gap: 10px;
  position: absolute;
}

.discord-icon {
  position: relative;
  top: -3px;
}

.btn-start {
  border-radius: 30px;
  padding: 12px 20px;
  background: linear-gradient(280deg, #6600d4, #4221e3, #005fff);
}

.btn-start:hover {
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/* Hero Card */

.btn-eyebrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px 8px 8px;
  background-color: #1a1a1b;
  border-radius: 30px;
  position: relative;
}

.btn-eyebrow:hover {
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

.btn-eyebrow::before {
  content: "";
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1),
    rgba(72, 72, 73, 1) 35%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  border-radius: 32px;
}

.btn-in-eyebrow {
  display: flex;
  padding: 4px 8px;
  background-color: #1a1a1b;
  border-radius: 30px;
  position: relative;
}

.btn-in-eyebrow::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background: linear-gradient(to right bottom, #ededed, #afafaf, #484849);
  align-self: center;
  border-radius: 50%;
  margin-right: 6px;
  border: 2px solid #484849;
}

.btn-in-eyebrow-div {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1),
    rgba(72, 72, 73, 1) 35%
  );
  border-radius: 32px;
  padding: 1.5px;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.main-content h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3.5rem;
}

.main-content p {
  font-size: 1.25rem;
  line-height: 30px;
  width: 480px;
}

.main-content a {
  gap: 8px;
}

.hero-img {
  grid-column: 2;
  max-width: 120%;
  z-index: -5;
}

.botoes-slider {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
  display: flex;
  gap: 4px;
  margin-top: 32px;
}

.main-slider {
  width: 48px;
  height: 8px;
  background-color: #fff;
  border-radius: 30px;
}

.sliders {
  width: 19px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 30px;
}

.cards {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  gap: 24px;
  z-index: 5;
}

.card1,
.card2 {
  font-family: "Clash Display", sans-serif;
  width: 596px;
  height: 216px;
  border-radius: 4px;
  position: relative;
  box-shadow: 200px 0px 100px 5px rgba(0, 0, 0, 0.8) inset;
}

.card1:hover,
.card2:hover {
  box-shadow: inset 100px 25px 100px 5px rgba(0, 0, 0, 1);
}

.card1::before,
.card2::before {
  content: "";
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1),
    rgba(72, 72, 73, 1) 35%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -5;
  margin: -1.75px;
  border-radius: 6px;
}

.card1 h1,
.card2 h1 {
  font-size: 29px;
  font-weight: 600;
  margin-top: 32px;
  margin-left: 24px;
  max-width: 240px;
}

.card1 p,
.card2 p {
  font-size: 23px;
  font-weight: 500;
  margin-top: 8px;
  margin-left: 24px;
  max-width: 300px;
}

.card1 {
  background: url("/call-of-duty.png") no-repeat;
  background-size: 100% auto;
}

.card2 {
  background: url("/two-esport-player-with-computer.png") no-repeat;
  background-size: 100% auto;
}

/* Partners */

.logo-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
  padding-bottom: 60px;
  /* verificar padding ^^ */
  justify-content: center;
  align-items: center;
  background-color: #000;
  box-shadow: 0px -300px 7px 0px rgba(0, 0, 0, 0.8),
    0px -200px 7px 0px rgba(0, 0, 0, 0.9), 0px -100px 7px 0px rgba(0, 0, 0, 1);
}

.title-logos {
  text-transform: uppercase;
  font-size: 16;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

.logos {
  display: flex;
  gap: 67.19px;
  position: relative;
}

.logos::after {
  content: "";
  height: 2px;
  width: 1216px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 0, 0, 0)
  );
  position: absolute;
  top: 104px;
}

/* Features */

.features-grid {
  grid-column: 1 / 3;
  display: flex;
  gap: 32px;
  border: 2px solid #484849;
  border-radius: 24px;
  align-items: flex-end;
}

.creation-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 32px;
}

.creation-div h1 {
  margin-top: 12px;
  margin-bottom: 16px;
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 32px;
}

.creation-div p {
  font-size: 1.25rem;
  line-height: 30px;
  width: 480px;
}

.creation-div a {
  margin-top: 98px;
}

.tournaments-img {
  background: url(/Tournaments.png) no-repeat;
  border: 1px solid #d0d5dd;
  background-size: 912px auto;
  border-radius: 24px 0px 24px 0px;
  width: 100%;
  height: 400px;
}

.tournaments-img img {
  position: relative;
  left: 50px;
  top: 90px;
}

.rewards-ethical-divs,
.arena-appDashboard-divs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rewards-div {
  grid-column: 1;
  background-color: #000;
  border: 2px solid #484849;
  position: relative;
  border-radius: 24px;
}

.reward-up-img {
  position: absolute;
  top: -64px;
}

.rewards-div h1 {
  margin-top: 24px;
  margin-bottom: 20px;
}

.rewards-content {
  margin: 32px;
}

.rewards-content p {
  max-width: 700px;
}

.arena-div {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  justify-content: end;
  background: url("/esports arena.png") no-repeat;
  border: 2px solid #484849;
  border-radius: 24px;
  width: 592px;
  height: 373px;
  flex-grow: 0;
  box-shadow: inset 0px -200px 60px 0px rgba(0, 0, 0, 0.9);
}

.arena-div p {
  max-width: 56ch;
}

.ethical-div {
  grid-column: 1;
  border: 2px solid #484849;
  background-color: #000;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 32px 32px 32px;
  justify-content: end;
}

.ethical-div img {
  align-content: flex-start;
}

.appDashboard-div {
  grid-column: 2;
  background-color: #000;
  border: 2px solid #484849;
  border-radius: 24px;
  flex-grow: 1;
}

.appDashboard-div img {
  border-radius: 24px 24px 0px 0px;
  margin-bottom: 24px;
}

.appDashboard-content {
  margin-left: 32px;
}

.appDashboard-div p {
  margin-top: 20px;
  margin-bottom: 32px;
}

.features-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 96px;
  background: #000;
  box-shadow: 0px -100px 7px 0px rgba(0, 0, 0, 1);
}

/* Featured Tournaments*/

.featured-tournaments-section {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  background: url("/blur-bg.svg") no-repeat;
  box-shadow: inset 0px 100px 30px -8px rgba(0, 0, 0, 0.8);
}

.tournament-cards {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tournament-card {
  padding: 1rem;
  position: relative;
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1),
    rgba(72, 72, 73, 1) 35%
  );
  border-radius: 26px;
  padding: 1.5px;
}

.valorant-card,
.cod-card,
.apex-card {
  width: 384px;
  height: 505px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0px -170px 60px 0px rgba(0, 0, 0, 0.9);
  border-radius: 24px;
}

.date-div {
  border: 1.5px solid #37393a;
  border-radius: 30px;
  padding: 2px 8px;
}

.date {
  display: flex;
  gap: 20px;
  align-items: center;
  align-self: start;
  padding: 4px 10px 4px 4px;
  background: rgba(0, 0, 0, 0.7);
  border: 1.5px solid #37393a;
  border-radius: 30px;
  position: relative;
}

.date-content::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: linear-gradient(to right bottom, #484849, #afafaf, #ededed);
  align-self: center;
  border-radius: 50%;
  margin-right: 6px;
  border: 3px solid #37393b;
}

.valorant-card {
  background: url("/Background-imgs/valorant-bg.png") no-repeat;
  background-size: 100% auto;
}

.cod-card {
  background: url("/Background-imgs/cod-bg.png") no-repeat;
  background-size: 100% auto;
}

.apex-card {
  background: url("/Background-imgs/apex-bg.png") no-repeat;
  background-size: 100% auto;
}

/* Ranking */

/* .ranking-bg {
  margin-top: 96px;
  background: url("./public/Background-imgs/table-bg.png");
  height: 1226px;
}

.ranking-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.table-div {
  display: grid;
  margin-top: 84px;
}

.table-content {
  border-collapse: collapse;
}

.table-content thead tr {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
}

.table-content tr {
  background: linear-gradient(170deg, #000, #333);
} */

/* Footer */

/* .footer {
  margin-bottom: 600px;
} */

/* Geral */

.btn-general {
  grid-column: 2;
  grid-row: 1;
  place-self: end;
  border-radius: 30px;
  gap: 8px;
  padding: 12px 20px;
  background: #1a1a1d;
}

.sections-introduction {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sections-introduction h1 {
  grid-column: 1;
}

.sections-introduction p {
  grid-column: 1 / 3;
  margin-top: 8px;
}

/* Estilização Separar */

.p-style-1 {
  font-weight: 400;
  font-size: 20px;
  color: #d0d5dd;
  line-height: 30px;
}

.p-style-2 {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
}

.span-style-1 {
  font-weight: 500;
  font-size: 14px;
}

.h1-style-1 {
  font-family: "Clash Display", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.h1-style-2 {
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.h1-style-3 {
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.h1-style-4 {
  font-family: "Clash Display", sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 600;
}
