.news-bg {
  margin-top: 96px;
  background: url("/news-bg.svg");
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0px -170px 60px 0px rgba(0, 0, 0, 0.6);
}

.news {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.news img {
  border-radius: 16px;
}

.news-content {
  margin-top: 24px;
  display: grid;
  gap: 8px;
  position: relative;
}

.news-content h1 {
  max-width: 20ch;
}

.news-content h1::after {
  content: url("/arrow-up-right.svg");
  position: absolute;
  top: 0;
  right: 0;
}
